@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body {
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to top, #004d06 0%, #00bd10 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.5px;
}

.section__titulo {
    text-align: center;
    font-size: 35px;
    color: #00bd10;
}
.contenedor {
    margin: auto;
    width: 97%;
}
/* Estilo de header*/
.header {
    height: 60px;
}
.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo, .fa-bars {
    margin: 20px;
    color: white;
}
.fa-bars {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #00bd10;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
}
.fa-bars:hover {
    background: #fff;
    color: #00bd10;
    transition: 0.3s;
}
/* Estilos menu*/
.nav {
    position: absolute;
    padding: 5px;
    top: 75px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu__link {
    display: block;
    padding: 20px;
    background: #00bd10;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    margin: 1px;
    transition: 0.3s;
}
.menu__link:hover {
    background: white;
    color: #00bd10;
}
.mostrar {
    left: 0;
}
.select {
    background: #004d06;
    color: #00bd10;
}
/* Estilos banner*/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
}

.banner__titulo {
    color: #004d06;
    -webkit-text-fill-color: seashell;
    -webkit-text-stroke: 1px;
    
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.banner__txt {
    display: none;
    color: #004d06;
    -webkit-text-fill-color: seashell;
    -webkit-text-stroke: 1px;
}

.banner__img {
    width: 100%;
}
/* Estilos columnas*/

.info__columna {
    background: #00bd10;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 7px;
}

/* Estilos servicios*/

.col__columna {
    position: relative;
    margin-bottom: 30px;
}

.col__descrip {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    width: 70%;
    height: 100%;
    padding: 5px;
}
.col__titulo {
    font-size: 25px;
    margin: 25px 0;
}

.col__img {
    width: 100%;
}

/* Estilos footer */

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="fab fa-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 6px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}


/* Responsive */

@media(min-width:580px) {
    .logo {
        font-size: 40px;
    
    }
    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info, .col {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna {
        width: 32%;
    }
    .info__titulo {
        font-size: 30px;
        margin: 5px 0;
    }

    .col {
        flex-wrap: wrap;
        margin-top: 0;
    }
    .col__titulo {
        
        margin: -3px 0;
    }
    .section__titulo {
        width: 100%;
    }

    .col__columna {
        width: 49%;
    }
    .footer .social [class^="fab fa-"] {
    
        margin: 0 10px;
    }
}
@media(min-width:700px) {

    .col__titulo {
        margin: 10px;
    }

}

@media(min-width:768px) {

    .banner__titulo { 
        font-size: 50px;
    }
    .col__titulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) {

    .contenedor {
        width: 1000px;
    }

    .nav {
        position: static;
        width: auto;
        margin: 10px;
    }
    .menu {
        display: flex;
    }
    .fa-bars {
        visibility: hidden;;
    }
    .menu__link{
        background: #00bd10;
        border-radius: 10px;
        margin: 5px;
    }
    .select {
        background: #004d06;
        color: #00bd10;
    }
    
    .banner__titulo { 
        font-size: 60px;
    }
    .info__titulo {
        font-size: 40px;
    }
    .info__titulo1 {
        font-size: 30px;
    }
    .col__titulo {
        font-size: 50px;
    }
    .section__titulo {
        font-size: 60px;
        margin: 15px;
    }
    .col__titulo {
        font-size: 50px;
    }
    .col__txt {
        font-size: 20px;
    }
    .col__descrip {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media(min-width:1366px) {

    .info__titulo1 {
        font-size: 35px;
    }

}
